# <center> What is Pandas? </center>
<center><img src="https://pandas.pydata.org/_static/pandas_logo.png"></center>
- Open source library 
- High-performance : Only constraint is RAM
- Easy-to-use data structures
- Data analysis tools

# Data types
- Series : 1D array of data
- DataFrame : 2D array of data - a table
- Panel : Ignore this

# Reading data

In [ ]:
import pandas as pd # This is only a convention
import numpy as np

In [ ]:
sales_data = pd.read_csv('data/blooth_sales_data.csv')
sales_data

- Sometimes the encoding is off and gives an error
- Overcome using the encoding = 'latin-1' parameter --- Works most of the time

### Let's explore our data set

In [ ]:
pd.set_option('display.max_rows', 10000)  # change presets for data preview
sales_data

In [ ]:
pd.reset_option('display.max_rows')

#### Inspect your DataFrame with pandas methods

In [ ]:
sales_data.head()

In [ ]:
sales_data.tail()

In [ ]:
sales_data.info()

In [ ]:
sales_data.describe()

## Can specify multiple options

In [ ]:
data2 = pd.read_csv('data/blooth_sales_data_2.csv')
data2.head()

In [ ]:
data2 = pd.read_csv('data/blooth_sales_data_2.csv', 
                    sep=';', 
                    decimal=',', 
                    parse_dates=['birthday', 'orderdate'], # Parsing dates
                   dayfirst=True) # Change from American format
data2.head()

## Many, many, MANY more options

<a href = r'https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html'> Documentation for read csv </a>

## Other reading options
- JSON
- SQL
- Dictionary
- SAS
- Stata
- Excel
- Even from the clipboard

In [ ]:
# JSON - Java Script Object Notation
sales_data_json = pd.read_json('data/blooth_sales_data.json')
sales_data_json.head(5)

In [ ]:
import json
with open('data/blooth_sales_data.json', 'r') as f:
    _json = json.load(f)
_json[0]

In [ ]:
# From Python dictionary
sales_data_from_dict = pd.DataFrame(_json)
sales_data_from_dict.head(5)

In [ ]:
# From Excel
sales_data_excel = pd.read_excel('data/blooth_sales_data.xlsx')
sales_data_excel.head(5)

# Writing to File

In [ ]:
# Same as read but instead of read, use to
sales_data.to_csv('data/blooth_sales_data_write.csv')

In [ ]:
# Some useful commands to remember
# - index = False : adds extra column for index
# - header

# Data selection & Indexing

In [ ]:
import random

In [ ]:
series = pd.Series([3, 62, 75, 83, 47, 43, 39, 16, 19, 2])
series

### Access by Position / Slice

In [ ]:
series[0]

In [ ]:
series[3:6]

In [ ]:
series.iloc[3:6]
# note [] not ()!

### Access by label

In [ ]:
# set alpha label as new index for the series
series.index = [x for x in "ABCDEFGHIJKLMNOPQRSTUVWXYZ"][:len(series)]
series

In [ ]:
series['D':'F']

In [ ]:
series[['D':'F', 'I':'J']]
# cannot combine multiple ranges

In [ ]:
pd.concat([series['D':'F'], series['I':'J']])
# concat to combine multiple ranges

In [ ]:
# set alpha label as new index for the series
series.index = [x for x in "GATTACAXYZ"][:len(series)]
series

In [ ]:
# non-unique values breaks slicing
series.loc['G':'A']

# DataFrames

In [ ]:
df = pd.read_json('data/sampledf.json')
df

In [ ]:
# column
df[2]

In [ ]:
# row
df[2:4]

In [ ]:
# iloc - by index
# row, column
df.iloc[2:4, 2:4]

In [ ]:
# Column slice
df.iloc[:, 2:4]

In [ ]:
# Row slice
df.iloc[2:4,:]

In [ ]:
# Selecting by name
df.index = ["R{:02d}".format(i) for i in range(len(df))]
df.columns = ["C{:02d}".format(i) for i in range(len(df.columns))]
df

In [ ]:
df['C05']

In [ ]:
# Multiple columns
df[['C05','C06']]

In [ ]:
df['R02':'R05']

In [ ]:
df['R05']

In [ ]:
# Use loc method to select by name
df.loc['R05', 'C04':'C05']

## Selecting by condition

In [ ]:
df['C04'] > 60

In [ ]:
df[df['C04'] > 60]

In [ ]:
# More conditionals
df[(df['C04'] < 60) | (df['C04'] > 80)]  # multiple OR

In [ ]:
df[(df['C04'] < 60) & (df['C04'] % 2 == 0)]  # multiple AND

### Adding and deleting Series in a DataFrame

In [ ]:
df['C10'] = [random.randint(1, 100) for i in range(len(df))]
df

In [ ]:
# Needs to have the same index 
new_series = pd.Series(list([random.randint(1, 100) for i in range(len(df))]))
new_series

In [ ]:
df['C10'] = new_series
df

In [ ]:
new_series.index = df.index
df['C10'] = new_series
df

In [ ]:
# Remove a column
del df['C10']
df

In [ ]:
# Drop columns
# df.drop(['C00','C01','C02'],inplace = True)
# Need to specify axis
# axis = 1 is columns; axis = 0 is rows
df.drop(['C00','C01','C02'],inplace = True,axis = 1)
df

### Operations on columns

In [ ]:
sales_data = pd.read_json('data/blooth_sales_data.json',
                              convert_dates=['birthday', 'orderdate'])
sales_data['turnover'] = sales_data['unitprice'] * sales_data['units']
sales_data.head(5)

In [ ]:
# Statistics on one column
sales_data['turnover'].mean()

In [ ]:
# On entire dataframe
sales_data.mean()

In [ ]:
sales_data['turnover'].sum()

In [ ]:
# Describe the data
sales_data.describe()

### Handling missing values

In [ ]:
# Add in NaN for demonstration purposes
sales_data.set_value(1, 'unitprice', np.NaN)
sales_data.set_value(4, 'unitprice', np.NaN)
sales_data.set_value(3, 'orderdate', np.NaN)
sales_data.head(5)

In [ ]:
sales_data[sales_data['unitprice'].isnull()] # Find the null values

In [ ]:
sales_data.dropna().head(5)

In [ ]:
# Data doesn't go away!
# Use the inplace = True condition
sales_data.head()

In [ ]:
sales_data.fillna(99.99, inplace=True)
sales_data.head(5)

# Apply, map and applymap

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df

### apply() can apply a function along any axis of the dataframe

In [ ]:
df['name'].apply(lambda x: x.upper()) # Is NOT persisitent

In [ ]:
df = pd.read_json('data/sampledf.json')
df.loc[[0,1],:].apply(lambda x:np.sqrt(x)) # Remember - ANY axis. So rows or columns

### map() applies an operation over each element of a SERIES

In [ ]:
data = {'name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'year': [2012, 2012, 2013, 2014, 2014], 
        'reports': [4, 24, 31, 2, 3],
        'coverage': [25, 94, 57, 62, 70]}
df = pd.DataFrame(data, index = ['Cochice', 'Pima', 'Santa Cruz', 'Maricopa', 'Yuma'])
df['name'].map(lambda x: x.upper())

### applymap() applies a function to every single element in the entire DATAFRAME

In [ ]:
# Drop the string variable so that applymap() can run
df = df.drop('name', axis=1)

# Return the square root of every cell in the dataframe
df.applymap(np.sqrt)

# Groupby

3 Step process
- Splitting the data into groups based on some criteria
- Applying a function to each group independently
- Combining the results into a data structure

In [ ]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                              'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})
df

In [ ]:
grouped = df.groupby('A') # Can't actually get a dataframe from a groupby
grouped

In [ ]:
grouped.describe()

In [ ]:
# Multiple groups
grouped2 = df.groupby(['A','B'])
grouped2.describe()

In [ ]:
grouped2[['C','D']].mean()

# Closing - Some simple visualisation
- Pandas has in-built visualisation tools
- Alternatives
    - matplotlib
    - bokeh
    - ggplot
    - seaborn

In [ ]:
# with this instruction plots will be included in the notebook
%matplotlib inline

In [1]:
sales_data = pd.read_excel('data/blooth_sales_data_clean.xlsx' )
sales_data.head(5)

NameError: name 'pd' is not defined

In [ ]:
sales_data['units'].plot()
# pandas will interact with matplotlib  - don't even need to import matplotlib

In [ ]:
# A more helpful chart
sales_data['units'].plot.hist(bins=15);

In [ ]:
sales_data['units'].plot.hist(
    bins=15, 
    title="Order Distribution",
    legend=True,
    fontsize=14,
    colormap='Pastel1',
    grid=True,
    linestyle='--',
    edgecolor='black', 
    linewidth=1.2
);

In [ ]:
tt = sales_data[['product', 'turnover']].groupby('product').sum()
tt

In [ ]:
tt.plot.bar();

#### There are MANY more examples
- https://matplotlib.org/gallery.html
- https://seaborn.pydata.org/examples/index.html
- https://bokeh.pydata.org/en/latest/docs/gallery.html

# Closing remarks
1. Thank you all for coming to my classes
2. These lectures are nowhere close to comprehensive
3. The most important skill - Novel problem solving skills
4. Don't remember recipes - Remember what exists and what's possible
5. Google is invaluable